version: "3.9"

services:

  db:
    image: postgres:14
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: walther20
      POSTGRES_DB: Sistema_Gestion_Inventario
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: backend_api
    restart: always
    ports:
      - "3000:3000"
    environment:
      USUARIO: postgres
      PASSWORD: walther20
      HOST: db
      DATABASE: Sistema_Gestion_Inventario
    depends_on:
      - db

  frontend:
    build: ./frontend/sistema-gestion-inventario
    container_name: frontend_app
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  pgdata:
